body {
    background-color: lavender;
}

.mit {
    background-color: pink;
}

.mith {
    color: red;
}

.desc {
    margin-top: 50px;
}

.god {
    background-color: yellow;
    color: blue;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto 20px;
    border: 2px solid purple;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}